<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.isi.myturn-dev" version="1.0.0" versionCode="100">
	<name>MyTurn</name>

	<description></description>

	<author href="http://www.aplimovil.net" email="contacto@aplimovil.net">ApliMovil</author>

	<gap:platform name="ios" />
	<gap:platform name="android" minVersion="2.3" />
	
	<gap:plugin name="org.apache.cordova.splashscreen" />
	
	<preference name="phonegap-version" value="3.1.0" />
	<preference name="android-minSdkVersion" value="9" />
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="universal" />
	<preference name="webviewbounce" value="false" />
	<preference name="show-splash-screen-spinner" value="false" />
	<preference name="auto-hide-splash-screen" value="false" />

	<gap:config-file platform="ios" parent="UIStatusBarHidden">
	    <true/>
	</gap:config-file>

	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
	    <false/>
	</gap:config-file>
	
	<access origin="*" />
	
	<icon src="resources/icons/icon.png" gap:role="default" width="57" height="57" />
	<icon src="resources/icons/Icon~ipad.png" gap:platform="ios" width="72" height="72" />
	<icon src="resources/icons/Icon@2x.png" gap:platform="ios" width="114" height="114" />
	<icon src="resources/icons/Icon~ipad@2x.png" gap:platform="android" gap:density="mdpi" />

	<gap:splash src="resources/loading/Default.png" width="320" height="480" />
	<gap:splash src="resources/loading/Default@2x.png" width="640" height="960" />
	<gap:splash src="resources/loading/Default~iphone5@2x.png" width="640" height="1136" />
	<gap:splash src="resources/loading/Default~ipad.png" width="768" height="1024" />
	<gap:splash src="resources/loading/Default@2x~ipad.png" width="1536" height="2048" />
</widget>