[Unit]
Description=%p %i server socket
Before=%p-%i.service
Conflicts=%p-%i.service

[Socket]
ListenStream=%p-%i
Accept=yes

[Install]
WantedBy=sockets.target
